'fileTypes': [
  'mhtml'
  'autohandler'
  'dhandler'
  'md'
  'mc'
  'mas'
  'mi'
]
'name': 'HTML (Mason)'
'patterns': [
  {
    'begin': '(?i)(<(%(perl|attr|global|once|init|cleanup|requestlocal|requestonce|shared|threadlocal|threadonce|flags|filter)( scope.*?)?)>)'
    'captures':
      '1':
        'name': 'punctuation.section.embedded.perl.mason'
      '2':
        'name': 'keyword.control'
    'end': '(?i)(<\\/(\\2)>)[^\\n]*\\n?'
    'name': 'source.perl.mason.block'
    'patterns': [
      {
        'include': 'source.perl'
      }
    ]
  }
  {
    'begin': '(?i)(<(%text)>)'
    'captures':
      '1':
        'name': 'punctuation.section.embedded.text'
      '2':
        'name': 'keyword.control'
    'end': '(</(%text)>)'
    'name': 'source.perl.mason.embedded.text'
    'patterns': [
      {
        'begin': '(?i)(?<=<%text>)'
        'end': '(?i)(?=</%text>)'
        'name': 'source.perl.mason.'
      }
    ]
  }
  {
    'begin': '(?i)(<%(doc)>)'
    'captures':
      '1':
        'name': 'punctuation.section.comment'
      '2':
        'name': 'keywork.control.comment'
    'end': '(?i)(</(%doc)>)'
    'name': 'source.perl.mason.comment.block'
    'patterns': [
      {
        'begin': '(?i)(?<=<%doc>)'
        'end': '(?i)(?=</%doc>)'
        'name': 'comment.block'
      }
    ]
  }
  {
    'captures':
      '1':
        'name': 'punctuation.section.embedded.perl.mason'
      '2':
        'patterns': [
          {
            'include': 'source.perl'
          }
        ]
    'match': '^(%)(.+)\\n$'
    'name': 'source.perl.mason.line'
  }
  {
    'begin': '(<&\\|)((\\w|\\.|\\:)*)(?!&>)'
    'beginCaptures':
      '1':
        'name': 'keyword.control'
      '2':
        'name': 'entity.name.function'
    'end': '(</&>)'
    'endCaptures':
      '1':
        'name': 'keyword.control'
    'name': 'source.mason.component.block'
    'patterns': [
      {
        'begin': '(&>)'
        'beginCaptures':
          '1':
            'name': 'keyword.control'
        'end': '(?=</&>)'
        'name': 'source.mason.nesty'
        'patterns': [
          {
            'include': '$self'
          }
        ]
      }
    ]
  }
  {
    'begin': '(<&)(.{1,}?)( |,)+'
    'beginCaptures':
      '1':
        'name': 'keyword.control'
      '2':
        'name': 'entity.name.function'
    'end': '(&>)'
    'endCaptures':
      '1':
        'name': 'keyword.control'
    'name': 'source.mason.component'
    'patterns': [
      {
        'include': 'source.perl'
      }
    ]
  }
  {
    'begin': '(?i)(<%(args.*?)>)'
    'captures':
      '1':
        'name': 'keyword.control'
      '2':
        'name': 'variable.other'
    'end': '(?i)(</%(\\2)>)'
    'name': 'source.mason.args'
    'patterns': [
      {
        'captures':
          '2':
            'name': 'string.quoted.single'
        'include': 'source.perl'
        'match': '(\\s*)?(\\w*)'
      }
    ]
  }
  {
    'begin': '(?i)(<%(method|def|closure) .*?>)'
    'captures':
      '1':
        'name': 'keyword.control'
      '2':
        'name': 'variable.other'
    'end': '(?i)(</%(\\2)>)[^\\n]*\\n?'
    'name': 'source.mason.methods'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '(<%) '
    'captures':
      '1':
        'name': 'keyword.control'
    'end': '(%>)'
    'name': 'source.mason.substitution'
    'patterns': [
      {
        'include': 'source.perl'
      }
    ]
  }
  {
    'include': 'text.html.basic'
  }
]
'scopeName': 'text.html.mason'
